main {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.login {
	display: none;
}

.header-menu {
	display: none;
}

header {
	justify-content: center;
}

h1 {
	color: #a7bd43;
}

input {
	margin-top: 70px;
	min-width: 250px;
}

