body {
	font-family: 'Noticia text';
	font-size: 16pt;
	background-color: #EDFFA9;
}

h1 {
	font-family: 'Comfortaa';
	font-size: 36pt;
	color: #8DB200;
}

a {
	text-decoration: none;
}

#content {
	max-width: 75vw;
	float: left;
}

#sidebar {
	max-width: 20vw;
	float: right;
}