<p>Reading a strategy's stats is like doing an X-ray. It gives you valuable information and also prepares you for what you might expect in the future.

<p>Here you can see the statistical data for the complete portfolio of strategies.</p> 

<ul>
	<li>Strategy's working period: 01/07/2008 – 01/01/2017
	<li>Number of trades: 2588.
	<li>Avg. trades per day: 1.1
	<li>Profits (in pips): 12296.2 pips
	<li>Winning trades percentage: 52.5%.
	<li>Average win: 36 pips.
	<li>Average loss: 30 pips.
	<li>Max Drawdown: 2024.4 pips.
	<li>Mean: 4.8 pips.
	<li>Standard deviation: 55.91 pips. 
	<li>Sharpe Ratio: 0.085
	<li>Calmar Ratio: 6.1
	<li>SQN: 3.05 
</ul>

<p>Let's read this through. Almost any rookie trader thinks that a good strategy never losses. That's far from true. You can see that 52.5% of the trades are winners. Only 52.5% of the trades! But that's enough to have profits in the long run. You must be cautious when someone promises 75% of winning trades or more. Those trading strategies usually work very well for some time. But then, they have huge losses. A statistical analysis would show that they manage the risk very poorly.</p>

<p>But the average winning percentage is not the only source of profits. You can also see that the average win is 36 pips and the average loss is 30 pips.</p>

<p>The max drawdown is a very important number for your psychology as a trader. In the past 10 years, this strategy went down 2024 pips once. If this happened in the past, certainly will happen in the future. If you want to gain profits trading, you must be willing to go through the bad times too.</p>

<div class="next-cover"></div>