<p>In this page you will always find the last optimized parameters for the complete portfolio of strategies.</p>

<div class="divisor"></div>

<ul>
	<li>Type: Bullish.
	<li>Pair: AUD/CAD.
	<li>Timeframe: 15m.
	<li>SMA: 3000 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 11 periods.
	<li>Emergency Stop Loss: 100 pips below the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish.
	<li>Pair: AUD/JPY.
	<li>Timeframe: 15m.
	<li>SMA: 2500 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 131 periods.
	<li>Emergency Stop Loss: 400 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish.
	<li>Pair: EUR/AUD.
	<li>Timeframe: 15m.
	<li>SMA: 750 periods.
	<li>Knoxville Divergence: 120 periods.
	<li>Exit: 108 periods.
	<li>Emergency Stop Loss: 350 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bullish.
	<li>Pair: EUR/CAD.
	<li>Timeframe: 15m.
	<li>SMA: 1500 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 43 periods.
	<li>Emergency Stop Loss: 400 pips below the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish.
	<li>Pair: EUR/USD.
	<li>Timeframe: 15m.
	<li>SMA: 2250 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 81 periods.
	<li>Emergency Stop Loss: 350 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bullish. REVERSED entry (After a bullish trend, this strategy sells).
	<li>Pair: EUR/USD.
	<li>Timeframe: 15m.
	<li>SMA: 1500 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 194 periods.
	<li>Emergency Stop Loss: 500 pips ABOVE the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bullish. Reversed entry (After a bullish trend, this strategy sells).
	<li>Pair: USD/CHF.
	<li>Timeframe: 15m.
	<li>SMA: 500 periods.
	<li>Knoxville Divergence: 120 periods.
	<li>Exit: 520 periods.
	<li>Emergency Stop Loss: 200 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 08/01/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bullish. Reversed entry (After a bullish trend, this strategy sells).
	<li>Pair: AUD/JPY.
	<li>Timeframe: 15m.
	<li>SMA: 1250 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 54 periods.
	<li>Emergency Stop Loss: 350 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish.
	<li>Pair: USD/CHF.
	<li>Timeframe: 15m.
	<li>SMA: 1750 periods.
	<li>Knoxville Divergence: 120 periods.
	<li>Exit: 42 periods.
	<li>Emergency Stop Loss: 150 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish. Reversed entry (After a bearish trend, this strategy buys).
	<li>Pair: USD/JPY.
	<li>Timeframe: 15m.
	<li>SMA: 750 periods.
	<li>Knoxville Divergence: 150 periods.
	<li>Exit: 90 periods.
	<li>Emergency Stop Loss: 200 pips BELOW the entry price.
	<li>Valid Period: 01/01/2017 – 08/01/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish.
	<li>Pair: AUD/JPY.
	<li>Timeframe: 5m.
	<li>SMA: 1000 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 52 periods.
	<li>Emergency Stop Loss: 300 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish.
	<li>Pair: GBP/USD.
	<li>Timeframe: 5m.
	<li>SMA: 1000 periods.
	<li>Knoxville Divergence: 30 periods.
	<li>Exit: 289 periods.
	<li>Emergency Stop Loss: 400 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

<div class="divisor"></div>

<ul>
	<li>Type: Bearish. Reversed entry (After a bearish trend, this strategy buys).
	<li>Pair: NZD/USD.
	<li>Timeframe: 15m.
	<li>SMA: 750 periods.
	<li>Knoxville Divergence: 150 periods.
	<li>Exit: 481 periods.
	<li>Emergency Stop Loss: 200 pips below the entry price.
	<li>Valid Period: 01/01/2017 – 15/07/2018.
</ul>

