{% load staticfiles %}

<p>All traders have passed through it. Watching the charts over and over again. The anxiety grows as the pattern we were looking for starts to appear. And then...nothing! The price moves in a way that we have to wait hours or days to possibly make a trade. Some hours or maybe a day later we come back to see our charts and then we see it. All conditions have met to place a trade. But it happened minutes ago and we don't know if we have to entry anyway or just wait for another opportunity. It's so frustrating!

<p>You can forget about that, at least for the SMA + Knoxville strategy. Having an expert advisor is like hiring a very engaged employee that will carry all the heavy job and the anxiety. You just have to supervise it once in a while. 

<p>To download the EA just <a href="{% url 'courses:download_ea' %}">click here</a>.

<h2>Installing and using the EA.</h2>

<p>Installing an EA is very much like installing an indicator. You can follow <a href="https://fxdailyreport.com/how-to-add-install-forex-ea-robot-mt4/" target="_blank">this tutorial</a> if you need some help.

<p>The name of the EA is 'SMA_Knoxville' When you drop it on your chart you will see a window with all the strategy properties like this one:</p>

<br>

<img class="course-image" src="{% static 'courses/images/m02_c00_i01.png' %}"/>

<p>There you must enter the current <span class="inline-anchor param-click">parameters</span> of the strategy. You may need to turn the 'Buy_Signals' or the 'Sell_Signals' option to 'false'. In that way, you will only be using that EA for buying or selling, not both at the same time. 

<p>You can only set one EA for each chart. So you need to open one chart for each timeframe or pair you will trade with.</p>





<script type="text/javascript">
	$('.param-click').click(function() {
		$('[data-course="the-strategy"][data-module="5"]').trigger('click');
	});
</script>
