{% load staticfiles %}

<ul>
	<li>Your EA is your employee. But remember that you are the supervisor. Let it work, but check once in a while that it is doing what it is supposed to do. Put the indicators in the chart to help you check that the EA is buying or selling in the right places. If it isn't, check that the parameters are the right ones.</li>
	<br>
	<li>As with any trading strategy, you must be emotionally prepared for the drawdowns. There's no such thing as a perfect strategy. Even the largest hedge funds in the world have occassionally big periods of losses. If you start trading a strategy, don't stop trading with it unless you have enough number of bad trades to prove that the strategy doesn't work anymore.</li>
	<br>
	<li>Trade small! We know it is like a dream come true to think that your computer is making money automatically while you eat, while you sleep, while you do whatever you want to do. But don't pretend to make millions in just a few weeks. Trading in the markets needs patience. Trade small and let the accumulation of small profits make the difference.</li>
	<br>
	<li>You can test the EA historical performance by yourself. Metatrader 4 has the 'Strategy Tester' tool and cAlgo has a backtester. Just remember that the strategy is optimized for a specific period. So, if you test it for the year last 10 years, it may be profitable or not. Instead, if you test it for the last two or three years, you will found valuable information of the strategy behavior by yourself.</li>
	<br>
	<li>In Metatrader 4, always check that you have a smiley face in the upper right corner of the chart <img class="inline-image" src="{% static 'courses/images/m02_c01_i01.png' %}" />. If the face is sad, you probably have the 'Auto Trading' button <img class="inline-image" src="{% static 'courses/images/m02_c01_i02.png' %}"/> turned off.</li>
	<br>
	<li>Don't trust just one strategy, pair or timeframe. Go for more! Diversification helps you improve your profits and avoid risks. Check out the <span class="inline-anchor cp-click">complete portfolio</span>.</li>
	<br>
	<li>And as you must have read a dozen times in the trading world: 'Past performance isn't a guarantee of future results'.</li>

</ul>

<script type="text/javascript">
	$('.cp-click').click(function() {
		$('[data-course="complete-portfolio"]').trigger('click');
	});
</script>