{% load staticfiles %}

<div class="promo">
	<div class="top">
		<div class="left">
			The Expert Advisor lets you trade automatically in Metatrader 4 and cTrader.
			<br><br>
			Automatic trading gives you precision, avoids human error and never misses a trade.
			<br><br>
			It's essential for the trader who can't stay for hours on end in front of the screen or wants to manage several trading strategies at the same time.
			<br><br>
		</div>
		<img  class='ea-icon plan-icon' src="{% static 'account/images/metatrader.png' %} ">
		<img  class='ea-icon plan-icon' src="{% static 'account/images/ctrader.png' %} ">	
	</div>
	<table>
		<tbody>
			<tr>
				<td>Complete instructions</th>
				<td class="yes-icon"><img src="{% static 'courses/images/yes-icon.png' %}" height="30px"></td>
			</tr>
			<tr>
				<td>MT4 Expert Advisor</th>
				<td class="yes-icon"><img src="{% static 'courses/images/yes-icon.png' %}" height="30px"></td>
			</tr>
			<tr>
				<td>cTrader's cBot</th>
				<td class="yes-icon"><img src="{% static 'courses/images/yes-icon.png' %}" height="30px"></td>
			</tr>
			<tr>
				<td>Personalized support</th>
				<td class="yes-icon"><img src="{% static 'courses/images/yes-icon.png' %}" height="30px"></td>
			</tr>
			<tr>
				<td class="">Price</th>
				<td class="t-price yes-icon">35$</td>
			</tr>
	
		</tbody>
	</table>
	<a href="{% url 'orders:order_create' pk=1 %}"><div class='buy-button'>BUY</div></a>
</div>
