<h2>Tipos de trading.</h2>

<p>El objetivo de todos los que invertimos en los mercados financieros es el mismo: obtener beneficios. Pero existen muchas formas de lograrlo.</p>

<p>Las tres grandes maneras de conseguir esa meta son: inversion fundamental, inversión discrecional e inversión sistemática.</p>

<p>Nuestras estrategias pertenecen a la inversión sistemática (o mecánica). Este tipo de inversión se basan en instrucciones o pasos objetivos, perfectamente definidos, que se deben seguir al pie de la letra para entrar y salir del mercado. Un sistema de trading espera que se cumplan unas condiciones específicas para comprar o vender, y luego espera a que se cumplan otras condiciones precisas para salir. Son pasos en los que no cabe la subjetividad ni la opinión, y por ello pueden ser repetidos una y otra vez por diversas personas obteniendo resultados casi idénticos.</p>

<h2>Tipos de estrategias.</h2>

<p>Lo que a muchos les apasiona de la inversión en los mercados financieros es que hay mucho campo para la creatividad. Literalmente se pueden idear billones de estrategias de inversión. Algunas de estas estrategias son muy complejas, otras muy sencillas. Algunas se pueden implementar de manera manual desde una computadora personal, otras necesitan equipos y conexiones muy sofisticadas. Unas utilizan lógicas sencillas que llevan décadas usándose, mientras otras emplean algoritmos de vanguardia que no habían sido desarrollados hasta hace pocos años.</p>

<p>La idea de Avanti es utilizar toda la sofisticación y vanguardia de las nuevas tecnologías y descubrimientos en el campo informático y estadístico, pero aplicarlo a sistemas sencillos, que cualquier inversionista individual pueda comprender y aplicar sin complicaciones.</p>

<p>Hay muchos tipos de estrategias de inversión con nombres sofisticados. Nosotros mencionaremos solo dos tipos básicos: inversión tendencial y contratendencial.</p>

<ol>
<li>Inversión tendencial: busca seguir tendencias que se forman en el mercado. Una vez que el precio de un activo financiero comienza a subir (tendencia al alza), se buscan los mejores momentos para comprar y aprovechar el “impulso” de la tendencia. Lo mismo se aplica para una tendencia bajista. Es como ver una ola y buscar el mejor momento para surfearla (y para salirse de ella también).</li>
<li>Inversión contratendencial: como ninguna tendencia es eterna (al contrario, suelen ser breves), este tipo de inversión caza esos momentos en que el impulso de un activo financiero se agota. En esos momentos el precio suele retroceder o comenzar una nueva tendencia en dirección contraria.</li>
</ol>
