<h2>Types of trading.</h2>

<p>Every investor's goal is the same. We want profits! But there are so many ways to achieve this.</p>

<p>In the financial markets, the three main ways are fundamental, discretionary, and systematic investment.</p>

<p>Avanti’s strategies belong to the last classification. The systematic or mechanical investment is based on specific instructions or steps, that must be followed accurately for entering and exiting the market. The trading system waits for some conditions to be met to enter the market. It then waits again for other conditions to exit. In these steps, there is no room for subjectivity or personal opinions. That's why they can be repeated over and over again by different people obtaining the same results.</p>

<h2>Types of strategies.</h2>

<p>A lot of people love trading because they find abundant space for creativity. Literally, you can think out billions of trading strategies or systems. Some of these strategies are very complex, others are very straightforward. Some of them can be implemented manually from a laptop, others need very sophisticated hardware and connections. There are strategies that use simple logic and have been used for decades, while others employ state of the art algorithms that have been developed in the last years.</p>

<p> Our goal with Avanti is to use all the sophistication of the new technologies and discoveries in the computational and statistical sciences -like artificial intelligence, time series analysis, and event studies- applying them to straightforward and easy to implement strategies, that any investor could easily implement.</p>

<p>There are many kinds of investment strategies with fancy names. We will only mention two basic types: trend trading and counter-trend trading.</p>

<ol>
	<li>Trend trading: looks for trends in the market. Once the price of a financial asset starts to rise -bullish trend-, the better moments are chosen to enter the market and take advantage of the trend's momentum.  The same applies to a bearish trend.  It's like a surfer seeing a wave and then waiting for the best moment to ride it -and then also get out of it-. 
	</li>
	<br>
	<li>Counter-trend trading: given that no trend is perpetual -in fact, they usually are very short-, this kind of trading hunts those moments in which the momentum of a trend starts to run low. In those moments the price usually turns back and starts a new trend in the contrary direction.</li>
</ol>


