{% load staticfiles %}

<h2>Appendix A: Optimization.</h2>

<p>The markets continually change. And investment strategies must adapt to those changes. That's why systematic trading doesn't use rigid parameters to invest. On the contrary, it uses optimizable parameters that change over time according to market conditions. 

<p>For example, if we have a strategy in which we buy each time the price closes above a Moving Average, the Moving Average lookback period is optimizable. Therefore, this year we may use a 20-periods Moving Average, and the next year we may use a 50-periods one. 

<p>Each strategy has a different number of optimizable parameters. But we warn you that, if you find a strategy with a lot of optimizable parameters, you must run away. Don't trust in such strategy. Strategies with a lot of parameters usually are <strong>overoptimized</strong> and usually show spectacular profits in the past but are worthless in real time. That's why Avanti's strategies usually have no more than 3 optimizable parameters. 

<p>Optimize a strategy isn't an easy task. It requires specialized software to do it. But don't worry because in Avanti we have developed our own software to accomplish that and we offer you only already-optimized strategies. We also will notify you each time one of your strategies is optimized again. So you will be always updated and adapted to the actual market conditions.</p> 

<h3 class="content-h3">What's overoptimization?</h3>

<p>Statistically speaking, and synthesizing as much as possible, creating a trading strategy is the analysis of variables and patterns in the past hoping that they will repeat in the future. This way we can observe how the market has behaved in the past and make profits in the future. It sounds easy! 

<p>But -there's always a 'but'- the task is not that easy. Not every pattern found in the past will repeat in the future. Just a few of the do! That's why a lot of trading strategies sellers boast awesome profits in the past, but when you buy their strategies and apply them, it's a whole different story. This is such a great disappointment to every investor in the market.</p>

<p>At the epicenter of this problem, there are two fancy concepts named 'overoptimization' and 'bias/variance tradeoff'. These two problematic concepts are also part of the problems inherent to artificial intelligence, and explain theme can be very complicated. In fact, in Avanti, almost 70% of our time is dedicated to avoiding these two problems. 

<p>But let's try to explain it a little bit. Summarizing, you can say the more variables you analyze it is easier to find profitable strategies in the past, but in return, it is more likely that these strategies will be useless in the future. In the other hand, if you analyze just a few variable it is harder to find profitable strategies, but you increase your statistical probabilities that it's prediction power remain intact over time. 

<p>Let's make an example. You can create a strategy that uses two Moving Averages, the RSI, Bollinger Bands, a Take Profit and a Stop Loss to determine the entries and the exits. Tweaking the values of the indicators and the horizontal exits you will eventually find a spectacular strategy that would give envy to any Wall Street hedge fund manager. Nevertheless, when you take it to the market you will be lucky if you get out breaking even. 

<p>This happens because this strategy has six variables (four indicators plus two kinds of exits). 

<p>How we avoid this? The easiest way is to take away some variables. You can only use two or three indicators and just one exit. It is also possible to use some more statistically-intensive methods such as 'Cross-validation' and 'Walk-forward analysis'. That's exactly what we continually do in Avanti.


<h2>Appendix B: Knoxville Divergence formation.</h2>

<p>Knoxville Divergence (KD) is a divergence on the Momentum oscillator that has been accompanied at some time by an overbought or oversold RSI. 

<p>Let's explain this step by step. There is a Momentum divergence when the price and the oscillator show patterns that don't agree. If the price is reaching new highs and the Momentum is starting to descend, we are seeing a bearish divergence. On the contrary, if the price is moving down and the Momentum starts to ascend, we have a bullish divergence. 

<p>In a chart it looks like this:

<img class="course-image" src="{% static 'courses/images/m01_c07_i01.png' %}"/>
<br>

<p>These divergences usually indicate the ending or at least the weakness of a trend. 

<p>For there to be a Knoxville Divergence it is necessary the formation of a Momentum Oscillator divergence. In addition to that, the RSI had to have been oversold or overbought <strong>at any moment</strong> of the formation of the divergence. Let's make that clear. It's not necessary the RSI being overbought/oversold at the exact moment of the momentum divergence completion. It is enough that it was overbought/oversold at any moment during the development of the divergence.

<p>To make it even more clear, let's see the previous divergences. But let's add the RSI to find out if there is any Knoxville Divergence. 

<img class="course-image" src="{% static 'courses/images/m01_c07_i02.png' %}"/>
<br>

<p>The green arrows indicate a bullish momentum divergence. The lowest of the green arrows points at the moment in which the RSI was overbought during the formation of the divergence. That means that indeed we are seeing  bullish Knoxville Divergence. On the contrary, the red arrows show that, even when there is a momentum divergence, the RSI gets near to the overbought limit but it doesn't trespass it. Thus, there isn't a bearish Knoxville Divergence.

<p>It's a good thing to know how an indicator is built. But is easier to use an automatic tool that points out the presence of the KD. You can download the indicator <a href="">here</a>.



