<h2>Bullish strategy.</h2>
<ul>
	<li>Pair: EUR/USD.
	<li>Timeframe: 15m.
	<li>SMA: 1500 periods.
	<li>Knoxville Divergence: 50 periods.
	<li>Exit: 18 periods.
	<li>Emergency Stop Loss: 400 pips under the entry price.
	<li>Valid Period: 01/01/2017 – 30/09/2017.
</ul>
	
<h2>Bearish strategy.</h2>
<ul>
	<li>Pair: USD/CHF
	<li>Timeframe: 15m.
	<li>SMA: 2000 periods.
	<li>Knoxville Divergence: 50 periods.
	<li>Exit: 32 periods.
	<li>Emergency Stop Loss: 500 pips above the entry price.
	<li>Valid Period: 01/01/2017 – 30/09/2017.
</ul>
	
<h2>Statistics.</h2>
<p>Here you will see several statistical data so you can understand better how this strategy has behaved. This statistics has been calculated including commissions (2 pips per trade). 

<ul>
	<li>Strategy's working period: 01/07/2008 – 01/01/2017
	<li>Number of trades: 1205.
	<li>Profits (in pips): 2289.5 pips
	<li>Winning trades percentage: 52,3%.
	<li>Average win: 16.7 pips.
	<li>Average loss: 13.1 pips.
	<li>Mean: 1.9 pips.
	<li>Standard deviation: 21.6 pips. 
	<li>Sharpe Ratio: 0.088
	<li>Sortino Ration: 1.24
	<li>SQN: 3.05 
</ul>
	
