{% load staticfiles %}

<p>Un mercado puede estar en rango o en tendencia. Se encuentra en rango cuando el precio sube y baja continuamente sin ninguna dirección específica. También se le describen como mercados laterales. En cambio, cuando el precio toma impulso en una dirección específica (al alza o a la baja) se dice que está en tendencia.</p>

<h2>Tres momentos de una tendencia.</h2>

<p>El mercado suele moverse de manera semierrática. Sin embargo, nos encontramos en muchos momentos donde el precio se mueve así:</p>

<img class="course-image" src="{% static 'courses/images/m01_c03_i01.png' %}"/>

<p>Esa es una tendencia definida y podemos ver que tiene tres momentos: inicio de la tendencia, retroceso y reanudación de la tendencia.</p>

<h2>Inicio de la tendencia.</h2>

<p>Veamos estas dos gráficas:</p>

<img class="course-image" src="{% static 'courses/images/m01_c03_i02.png' %}"/><br>
<img class="course-image" src="{% static 'courses/images/m01_c03_i03.png' %}"/>

<p>En la primera imagen vemos un mercado en rango, que no se mueve en una dirección definida. Luego empieza a moverse decididamente hacia arriba iniciando una nueva tendencia alcista.</p>

<p>En la segunda vemos una tendencia al alza que, una vez que se agota y finaliza, es seguida por una nueva tendencia a la baja. Esta nueva tendencia está también muy bien definida y es lo suficientemente duradera como para obtener beneficios de ella.</p>

<p>Es importante poder reconocer cuándo se inicia una nueva tendencia. Eso lo podríamos hacer visualmente, simplemente viendo la gráfica. Pero ese es un método subjetivo, donde diversos traders seguramente tendrían opiniones encontradas. Algunos dirían que es el inicio de una tendencia al alza; otros que es el retroceso de una tendencia a la baja que luego se reanudará. </p>

<p>Por eso el trading sistemático busca medir las tendencias con indicadores. Existen muchos indicadores de tendencia. Entre los más famosos están las Medias Móviles, el Oscilador de Momentum, el ADX, y un grandísimo etcétera. Si no estás familiarizado con el concepto de indicador, o quieres refrescar tu conocimiento, puedes leer sobre ellos en este curso básico de Forex Street, que es de los mejores que encontrarás en internet.<p>

<h2>Retroceso de la tendencia.</h2>

<p>Toda tendencia necesita tomarse un respiro antes de continuar. Mira la siguiente gráfica:</p>

<img class="course-image" src="{% static 'courses/images/m01_c03_i04.png' %}"/>

<p>En ella se ve como la tendencia no es lineal, sino que retrocede varias veces antes de continuar. Estos momentos suelen ser claves para poder “surfear la tendencia”.</p>

<p>Los inicios de las tendencias suelen ser bruscos y, aunque bien tomados pueden dar muy buenos beneficios, son más propensos al deslizamiento o slippage y al error humano del trader. En cambio, los retrocesos son momentos de calma en el que el precio descansa. Por ello pueden ser momentos en que se puede entrar al mercado fácilmente, con poco riesgo de deslizamiento o slippage, esperando que la tendencia se reanude a nuestro favor.</p>

<p>También podemos hacer uso de indicadores para medir el retroceso de una tendencia y así dterminar el momento de entrar al mercado.</p>

<h2>Reanudación de la tendencia.</h2>

<p>Finalmente, luego de un descanso, el precio puede o no reanudar su tendencia. El trading tendencial suele basarse en que, aunque no todas las tendencias se reanudan luego del retroceso, cuando lo hacen, suelen hacerlo con fuerza y brindar buenos beneficios.</p>

<p>Resumamos con la imagen de una tendencia ideal.</p>

<img class="course-image" src="{% static 'courses/images/m01_c03_i05.png' %}"/>