{% load staticfiles %}

<p>As we have entry rules, we also need some rules for exiting the market. The vast majority of traders, either use indicators to determine the exit moment, or set a fixed Stop Loss and Take Profit. We will call the latter kind of exit a 'horizontal exit' and we will explain why in brief moments. We will use instead another kind of exit that we will call a 'vertical exit'.</p>

<h2>Horizontal exits.</h2>

<p>They are the most common ones. In a chart, they look like this:</p>
<br>

<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c05_i01.png' %}"/>
	<div class="caption">Horizontal exits. Stop Loss and Take Profit drawn as two red horizontal lines.</div>
</div>
<br>

<p>We call them horizonal exits because in a chart they look as two horizontal lines that limit the price at which an asset can arrive. Once the price touches one of these lines, a market exit automatically triggers, either with benefits (Take Profit) or losses (Stop Loss).</p>

<p>For a lot of traders this is the regular way of exiting the market. Nevertheless, these kind of exits create a statistical drawback because they are two more parameters that need to be optimized, contributing to 'overoptimization'. That's why we substitute them with a vertical exit. You can read more about 'overoptimization' in the appendix.</p>

<h2>Vertical exit.</h2>

<p>Avanti’s strategy can also be called a timed exit. It is simply the substitution of the traditional Stop Loss and Take Profit for a unique exit after a certain amount of periods since entering the market. That means that after a prestablished amount of time you exit the market, either with profits or losses.</p>

<p>It is called a vertical exit because it looks like this in a chart:</p>
<br>

<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c05_i02.png' %}"/>
	<div class="caption">Vertical exit. The vertical red line represents the exit moment.</div>
</div>
<br>

<p>Using a vertical exit doesn't mean that you will not use a Stop Loss. But you will put it very far, so it only is triggered in extraordinary moments where an unexpected news moves the market in an abrupt way. This kind of unpredictable movements in the price are called 'Black Swans'.</p>

<p>You may think that a vertical exit is very risky. But anyone with a bit of experience in the markets know that when a 'Black Swan' appears the Stop Loss doesn't helps at all. The volatility and the slippage is so big that the Stop Loss may activate hundred of pips or ticks away from the price the trader set. For that reason, the wiser thing to do is to know from the beginning that this situations could happen and therefore be prepared trading moderated amounts of money and only trusting the Stop Loss in extraordinary cases.</p>

<p>Another advantage of the vertical exits is a better backtesting precision because is easier to consider the slippage.</p>
