<p>Congratulations! You already have everything you need to implement the 'SMA + Knoxville' strategy. Remember that you need to walk before you start running. Use it in a test account first. Then you can invest small amounts of money and gradually increase that amount.</p>

<p>What else can you do now? There are two paths that you can take if you want to increase your probabilities of success using this strategy.</p>

<p>The first path is to automate the strategy. It is common to see us traders making mistakes when we enter and exit the markets. Sometimes we are not in front of the screen at the exact moment of the entry signal. Other times, anxiety pushes us to enter before time, or fear makes us enter late. In the best scenario, we lose some pips or ticks. In the worst, we let pass so many chances to enter the market that the strategy loses its statistical value. We couldn't know if the greater profits would come precisely in those opportunities we let pass.</p>

<p>What will happen if you learn 3, 5, 10 or more strategies? How could you be aware of all of them? It's impossible!</p>

<p>That's why so many traders are <strong>automating their strategies</strong>. That way, a computer detects by itself the exact moment in which it has to enter or exit the markets. The computer doesn't get distracted, doesn't get tired, doesn't make mistakes.</p>

<p>In order to automate a strategy, it is necessary to use an 'Expert Advisor' (EA). An EA is an algorithm that's easily installed in the Metatrader 4 trading platform. It enters and exits the markets each time the strategy's conditions it was programmed to have met. That way the trader just has to set the investment amount and then periodically supervise that the EA is working properly.</p>

<p>The SMA + Knoxville has an EA that you can <span class="ea-click inline-anchor">download and install here</span>.</p>

<p>The second path is the more important. You need to broaden your portfolio of strategies. It can be done in two ways. You can learn more strategies or you can use the same strategy in more currency pairs and timeframes. This is called <strong>diversification</strong>, and it is the best way to increase your profits while reducing the risks at the same time. It is so important that the economist Harry Markowitz won the Nobel prize for formulating a theory that optimizes the diversification of investment portfolios.</p>

<p>At Avanti, we are committed to the creation of diversified investment portfolios that help traders to gain higher profits with lower risks. Even the best trading strategies stop giving profits at any time. The solution is to count with an army of strategies, where some stand on their feet when the others fall down.</p>

<p>You can find the complete portfolio <span class="cp-click inline-anchor">clicking here</span>. This portfolio lets you implement the SMA + Knoxville strategy in 16 different ways, using many currency pairs and timeframes.</p>

<script type="text/javascript">
	$('.ea-click').click(function() {
		$('[data-course="expert-advisor"]').trigger('click');
	});
	$('.cp-click').click(function() {
		$('[data-course="complete-portfolio"]').trigger('click');
	});
</script>
