{% load staticfiles %}

<p>By now, we won't say the exact parameters of the strategy. You will see an 'X' in its place. These parameters are optimizable. That means they change from time to time so they can adapt to the actual market conditions. The strategy you are about to learn is optimized every nine months. If you want to know more about what 'optimization' means you can go to the appendix.</p>

<p>The strategy's exact values appear in the 'Parameters' section. In that chapter, you will also know in which currency pairs you can trade this strategy.</p>

<h2>Trend beginning.</h2>

<p>We will catch the trend beginning using a Simple Moving Average (SMA).</p>

<p>The SMA lookback is one of the three optimizable parameters.</p>

<h2>Trend retracement.</h2>

<p>The retracement will be measured by an indicator named 'Knoxville Divergence' -DK from now on-. </p>

<p>The DK is an indicator created by Rob Booker, an American trader with a long trajectory. At the same time, this indicator is built by the union of two indicators created by Welles Wilder, one of the most prominent technical analysts of the past century.</p>

<p>The two indicators used to built the DK are the Relative Strength Index (RSI) and the Momentum Oscillator, two of the most used indicators among traders. If you want to know in detail how this indicator is built you can go to the appendix. We highly recommend that you learn how every indicator you use work.</p>

<p>The lookback of the divergence is another of the optimizable parameters.</p>

<p>Visually identifying these divergences can be very challenging. The KD indicator shows you automatically the precise moment in which the divergence appears. You can download it <a href="">here</a>.</p>

<h2>SMA + Knoxville.</h2>

<p>Now we can formulate the entry strategy.</p>

<ol>
	<li>
		For buying: using a 15 minutes chart, wait until the price is above an X periods Simple Moving Average. The second condition is that an X period bullish Knoxville Divergence appears. 
	</li>
	<br>
	<img class="course-image" src="{% static 'courses/images/m01_c04_i01.png' %}"/>
	<br><br>
	<img class="course-image" src="{% static 'courses/images/m01_c04_i02.png' %}"/>
	<br><br>

	<li>
		For selling: using a 15 minutes chart, wait until the price is below an X periods Simple Moving Average. The second condition is that an X period bearish Knoxville Divergence appears.
	</li>
	<br>
	<img class="course-image" src="{% static 'courses/images/m01_c04_i03.png' %}"/>
	<br><br>
	<img class="course-image" src="{% static 'courses/images/m01_c04_i04.png' %}"/>
	<br><br>
</ol>
 



