<p>
	¡Bienvenido! Leyendo tan solo algunas páginas sabrás cómo usar tu nuevo sistema de inversión.
</p>
<p>
	La explicación de esta estrategia presupone que tienes conocimientos fundamentales sobre el trading. Por lo tanto, términos como “velas”, “indicadores”, “media móvil”, “RSI” o “Stop Loss” deberían ser familiares para ti. Sin embargo, a lo largo de la explicación encontrarás abundantes links que puedes consultar, sea porque aún estás dando tus primeros pasos en el trading, sea porque necesitas refrescar algunos conceptos.
</p>