{% load staticfiles %}

<p>The market can range or trend. A market is ranging when the price goes up and down continuously without a specific direction. On the other hand, when the price momentum increases in a specific direction you can say that the market is trending.</p>

<h2>The three moments of any trend.</h2>

<p>The market usually moves in and irregular fashion. Nevertheless, there are frequent moments where the price moves this way:</p>

<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c03_i01.png' %}"/>
	<div class="caption">Clear trend on the GBP/USD.</div>
</div>

<p>That's a clear trend. We can identify three moments: beginning, retracement, and resumption.</p>

<h2>Trend's beginning.</h2>

<p>Let's see this two charts:</p>

<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c03_i02.png' %}"/>
	<div class="caption">After a range, GBP/USD beggins a bullish trend.</div>
</div>
<br>
<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c03_i03.png' %}"/>
	<div class="caption">After a bullish trend, starts a bearish trend.</div>
</div>

<p>In the first image, we can observe a ranging market. It doesn't move in a well-defined direction. Then it starts to strongly move upwards originating a new bullish trend.</p>

<p>In the second image we see a bullish trend that, once it's finished, it's followed by a new bearish trend. This new tendency is also strong and lasts enough time to take a profit out of it.</p>

<p>It is very important to recognize when a new trend begins. We could do that just by watching at the chart. But that's a subjective method where different traders could have contrasting opinions. Some would say that it is the beginning of a new bullish trend. Others say that it is just a temporal retracement that will later resume.</p>

<p>That's why systematic trading seeks to measure trends with the help of technical indicators. There a lot of them that can help you measure a trend. Among the most famous you find the Moving Averages, the Momentum Oscillator and the ADX.<p>

<h2>Trend retracement or pull back.</h2>

<p>Every trend needs to take a breath at some point before it continues. Look at the next chart:</p>

<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c03_i04.png' %}"/>
	<div class="caption">Long trend on the EUR/USD. The arrows point to the retracements.</div>
</div>

<p>You can see how the trend is not linear. Instead, it moves backward many times. These are key moments to 'surf the trend'.</p>

<p>The first moment of a trend can be abrupt, therefore it is prone to slippage and human errors. On the contrary, retracements are more peaceful. That's why they are good entry points, with low slippage risks. The final goal of such entrance is to make a profit off a continuation of the previous trend. </p>

<p>We can also use indicators to measure trends' pull backs and so determine an entry point.</p>

<h2>Trend resumption.</h2>

<p>Finaly, after a break, the price may or may not continue the prior trend. Although not every trend continues after retracing, when they do, they do it strongly. Trend trading takes advantage of this pattern.</p>

<p>Let's summarize with an image of an 'ideal' trend.</p>

<div class="chart">
	<img class="course-image" src="{% static 'courses/images/m01_c03_i05.png' %}"/>	
	<div class="caption">1. Trend's begining; 2. Pull back; 3. Trend resumption.</div>
</div>
