<p>¡Felicitaciones! Ya tienes todo lo que necesitas para implementar la estrategia "SMA + Knoxville". Recuerda caminar antes de correr: primero úsala en una cuenta de prueba, luego invierte en pequeñas cantidades y ve aumentando gradualmente la cantidad de dinero invertida.</p>

<p>¿Qué más puedes hacer ahora? Hay dos caminos que puedes tomar en este momento para incrementar tus posibilidades de éxito al usar esta estrategia.</p>

<p>La primera vía es automatizar la estrategia. No es raro que los traders cometan errores a la hora de entrar y salir del mercado. Algunas veces no se está frente al monitor en el momento en que aparece una señal de entrada. Otras veces nos adelantamos y entramos al mercado antes de tiempo. Otras veces, entramos tarde. En el mejor de los escenarios, perdemos unos pips. En el peor, dejamos pasar múltiples ocasiones de entrar al mercado y la estrategia pierde su valor estadístico, ya que no podemos saber si las mayores ganancias las obtendriamos en esas oportunidades que dejamos pasar.</p>

<p>Imagina, además, que con el tiempo logras aprender 3, 5, 10 o más estrategias. ¿Cómo podrás estar atento a todas? ¡Es imposible!</p>

<p>Por eso, cada vez más traders <strong>automatizan sus estrategias</strong>. De esa manera la computadora detecta por sí misma en qué momento debe entrar y salir del mercado. Ella no se distrae, ella no se cansa, ella no comete errores.</p>

<p>Para automatizar una estrategia es necesario utilizar un "Asesor Experto" o EA (según sus siglas en inglés). Un EA es un programa que fácilmente se instala en la misma plataforma de inversión Metatrader 4 y que entra y sale del mercado cada vez que se cumplen las condiciones de la estrategia de inversión para la que fue programado. De esa manera el trader solo tiene que establecer las cantidades que quiere invertir y luego supervisar periódicamente que el EA esté trabajando correctamente.</p>

<p>La estrategia SMA + Knoxville cuenta con un EA que puedes bajar e instalar <span class="inline-anchor ea-click">haciendo click aquí</span>.</p>

<p>La segunda vía es la más importante: ampliar tu cartera de estrategias. Esto lo puedes hacer de dos maneras. Puedes aprender más estrategias o puedes usar la misma estrategia en más pares de divisas y marcos temporales. Esto se llama <strong>diversificar</strong>, y es la mejor manera de aumentar las ganancias a la vez que reduces los riesgos. Es tan importante que el economista Harry Markowitz obtuvo el premio Nobel por formular una teoría que ayuda a diversificar de manera óptima una cartera de inversión.</p>

<p>En Avanti nos dedicamos principalmente a crear carteras de inversión completas y diversificadas que ayuden a obtener más beneficios con menos riesgos. Incluso las mejores estrategias de inversión dejan de dar beneficios con el tiempo. La solución es contar con un batallón de estrategias, donde unas quedan de pie cuando las otras caen.</p>

<p>Puedes encontrar la cartera completa <span class="inline-anchor cp-click">haciendo click aquí</span>. Esta cartera permite implementar la estrategia SMA + Knoxville en 16 instrumentos distintos, usando diversos pares de divisas y marcos temporales.</p>

<script type="text/javascript">
	$('.ea-click').click(function() {
		console.log('aqui 1');
		$('[data-course="expert-advisor"]').trigger('click');
	});
	$('.cp-click').click(function() {
		console.log('aqui 2');
		$('[data-course="complete-portfolio"]').trigger('click');
	});
</script>
