{% load staticfiles %}

<p>Así como se tienen unas reglas para entrar al mercado, también es necesario contar con reglas para salir de él. La mayoría de los traders, o usan indicadores para determinar el momento de salida, o establecen un Stop Loss y Take Profit determinados. A este último tipo de salida la llamaremos salidas horizontales y en breve explicaremos por qué. Nosotros utilizamos otro tipo de salidas que llamaremos verticales.</p>

<h2>Salidas horizontales.</h2>

<p>Son las más comunes. En una gráfica se ven así:</p>

<img class="course-image" src="{% static 'courses/images/m01_c05_i01.png' %}"/>
<br>

<p>Las llamamos salidas horizontales porque en una gráfica se ven como dos líneas que limitan el precio al que puede llegar un activo. Una vez el precio toca una de esas líneas horizontales, se dispara automáticamente una salida del mercado, sea con beneficios (Take Profit) o con pérdidas (Stop Loss).</p>

<p>Para muchos traders esta es la manera normal de salir del mercado. Sin embargo, estas salidas crean un inconveniente estadístico debido a que son 2 parámetros más que contribuyen a la “sobreoptimización” (ver el apéndice sobre Optimización). Por eso sustituimos esta manera tradicional de salir del mercado con las salidas verticales.</p>

<h2>Salidas verticales.</h2>

<p>También la podríamos llamar salida temporal. Simplemente se trata de sustituir los tradicionales Stop Loss y Take Profit por una sola salida después de X cantidad de períodos después de haber entrado al mercado. Es decir, después de una cantidad preestablecida de tiempo se sale del mercado, sea en ganancias o en pérdidas.</p>

<p>Se llama salida vertical porque esta es la manera en que se ve en una gráfica:</p>

<img class="course-image" src="{% static 'courses/images/m01_c05_i02.png' %}"/>
<br>

<p>Usar una salida vertical no quiere decir que no se deba poner un Stop Loss. Solo que se debe poner a una distancia muy lejana, de manera que solo se active en un caso muy extraordinario donde una noticia inesperada mueva el mercado de manera abrupta: lo que se llama en el mundo de la inversión un “Cisne Negro”.</p>

<p>Se podría pensar que una salida vertical es muy arriesgada, pero quien tiene un poco de experiencia en el mercado sabe que cuando vienen estos “Cisnes Negros” no hay Stop Loss que valga. La volatilidad y el deslizamiento son tan grandes, que los Stop Loss pueden activarse cientos de pips o ticks más allá de lo que el trader estipuló. Por lo tanto, lo más prudente es saber desde un inicio que estas situaciones pueden ocurrir. Y por ello estar preparado invirtiendo en cantidades moderadas y solo contando con el Stop Loss en situaciones extraordinarias.</p>

<p>Otra ventaja de las salidas verticales es una mayor precisión al momento de hacer una prueba en el pasado (backtesting), ya que es más sencillo tener en cuenta el deslizamiento o slippage.</p>