<p>Optimizado para el período 01/01/2017 – 30/09/2017.</p>

<h2>Estrategia alcista.</h2>
<ul>
	<li>Par: EUR/USD (15m)
	<li>SMA: 1500 períodos.
	<li>Divergencia Knoxville: 50 períodos.
	<li>Salida: 18 períodos.
	<li>Stop Loss de emergencia: 400 pips por debajo del precio de entrada
</ul>
	
<h2>Estrategia bajista.
<ul>
	<li>Par: USD/CHF (15m)
	<li>SMA: 2000 períodos.
	<li>Divergencia Knoxville: 50 períodos.
	<li>Salida: 32 períodos.
	<li>Stop Loss de emergencia: 500 pips por encima del precio de entrada
</ul>
	
<h2>Estadísticas.</h2>
<p>Aquí se presentan varios datos estadísticos para que puedas conocer más a fondo como se ha comportado la estrategia. Estas estadísticas se han calculado incluyendo comisiones. Se ha utilizado el spread medio del bróker Roboforex, bróker recomendado por sus bajos spreads y por la posibilidad de invertir con microcuentas, lo que permite invertir con volúmenes muy bajos y así cuidar mejor el riesgo de nuestras estrategias.

<ul>
	<li>Periodo de funcionamiento de la estrategia: 01/07/2008 – 31/12/2016
	<li>Número de entradas al mercado: 1205.
	<li>Ganancias en pips: 2289.5 pips
	<li>Porcentaje de operaciones ganadoras: 52,3%.
	<li>Ganancia media: 16.7 pips.
	<li>Pérdida media: 13.1 pips.
	<li>Media: 1.9 pips.
	<li>Desviación Estándar: 21.6 pips. 
	<li>Ratio de Sharpe: 0.088
	<li>Ratio de Sortino: 1.24
	<li>SQN: 3.05 
</ul>
	
