@font-face { 
	font-family: ClearSans; 
	src: url('fonts/ClearSans-Thin.ttf'); 
}

@font-face { 
	font-family: ClearSans-Medium; 
	src: url('fonts/ClearSans-Medium.ttf'); 
} 

@font-face { 
	font-family: ClearSans-Regular; 
	src: url('fonts/ClearSans-Regular.ttf'); 
} 

body {
	background-color: black;
	margin: 0;
	font-family: ClearSans;
}

header{
	position: fixed;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: black;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom: 5px solid #707A2C;
	z-index: 1;
}

h2 {
	padding: 0 20px;
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

span .logo {
	margin-top: 5px;
	margin-left: 15px;
}

.header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: ClearSans;
	font-size: 16pt;
}

.header-menu:hover {
	cursor: pointer;
}

.login {
	display: flex;
	align-self: center;
}

.button {
	background: #a7bd43;
	background-image: -webkit-linear-gradient(top, #a7bd43, #707A2C);
	background-image: -moz-linear-gradient(top, #a7bd43, #707A2C);
	background-image: -ms-linear-gradient(top, #a7bd43, #707A2C);
	background-image: -o-linear-gradient(top, #a7bd43, #707A2C);
	background-image: linear-gradient(to bottom, #a7bd43, #707A2C);
	-webkit-border-radius: 1;
	-moz-border-radius: 1;
	border-radius: 1px;
	font-family: ClearSans-Medium;
	color: #ffffff;
	font-size: 26pt;
	padding: 10px 20px 10px 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -3px;
	text-decoration: none;
}

.button:hover{
	background: #ccd658;
	background-image: -webkit-linear-gradient(top, #ccd658, #a6ad47);
	background-image: -moz-linear-gradient(top, #ccd658, #a6ad47);
	background-image: -ms-linear-gradient(top, #ccd658, #a6ad47);
	background-image: -o-linear-gradient(top, #ccd658, #a6ad47);
	background-image: linear-gradient(to bottom, #ccd658, #a6ad47);
	text-decoration: none;
	cursor: pointer;
}

.divisor {
	border-right: 2px solid white;
}