main{
	display: flex;
	flex-direction: column;
}

#blank-space {
	width: 100%;
	height: 94px;
}

.screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	min-height: calc(100vh - 94px);
}

#main-screen {
	flex-direction: column;
}

.screen-top {
	font-family: ClearSans-Regular;
	display: flex;
	flex: 1;
	justify-content: center;
	padding-top: 30px;
}

.screen-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	padding-top: 0px;
	margin-top: -15px;
}

.screen-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 350px;
	font-size: 12pt;
}

.screen-right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 350px;
	justify-content: center;
	font-size: 16pt;
	padding: 40px;
}

.dark-font {
	color: #22240e;
}

.dark-button {
	background: #707A2C;
}

.pre-cta-text {
	font-size: 18pt;
	margin-bottom: 5px;
}

.cta {
	font-size: 22pt;
	padding: 15px 50px;
	align-self: center;
}

.to-right {
	position: relative;
	left: -100vh;
}

.to-left {
	position: relative;
	right: -100vh;
}

#main-screen .screen-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-background{
	position: absolute;
	margin-top: -60px;
	width: 100%;
	z-index: -1;
}

#main-screen {
	background: url('images/main-background.png') center no-repeat;
	background-size: cover;
}

.no-main-screen {
	display: flex;
	flex-wrap: wrap;
}

#main-screen .marginalized {
	margin: 20px;
}

#second-screen {
	font-family: ClearSans-Regular;
	background-color: #a7bd43;
}

#third-screen {
	font-family: ClearSans-Regular;
	background-color: white;
}

#fourth-screen {
	font-family: ClearSans-Regular;
	background-color: #a7bd43;
}

#fifth-screen {
	background-color: black;
}

.screen-right span{
	display: flex;
	justify-content: center;
}

#main-motto {
	display: flex;
	align-self: center;
	flex-basis: 70%;
	font-size: 28pt;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

#chart-main-title {
	margin-top: -15px;
	margin-bottom: 30px;
}

.image-fit {
	max-width: 100%;
    height: auto;
    min-width: 360px;
}

.centered-text {
	text-align: center;
}

#main-cta {
	font-size: 20pt;
	padding: 10px 30px 15px 30px;
}

.ea-icon {
	min-width: 400px;
}

@media (max-width: 805px) {
	.screen-left {
		order: 1;
	}

	.screen-right {
		order: 2;
	}

	.cta {
		font-size: 18pt;
	}
}

@media (max-width: 755px) {
	#blank-space {
		height: 156px;
	}
}

@media (max-width: 600px) {
	#blank-space {
		display: none;
	}

	#main-motto {
		font-size: 24pt;
		margin-top: 0;
		margin-bottom: 25px;
	}

	#favicon {
		display: none;
	}

	.image-fit {
		margin-top: 30px;
	}

	.screen-right {
		padding: 30px;
	}

	.screen-bottom .screen-right {
		padding: 10px;
	}
}

