body {
	background-color: black;
	margin: 0;
}

header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: black;
	padding-top: 2px;
	padding-bottom: 5px;
	border-bottom: 5px solid #707A2C;
}

main{
	display: flex;
	flex-direction: column;
}

.screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	min-height: 500px;
	padding: 20px;
}

.screen-bottom {
	display: flex;
	flex-direction: row;
}

.screen-center {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	font-size: 14pt;
}

.screen-left {
	display: flex;
	flex: 1;
	justify-content: center;
}

.screen-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
}

#main-screen .screen-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-screen .marginalized {
	margin: 20px;
}

#second-screen {
	background-color: #707A2C;
}

#pop-login {
	display: none;
}

span .logo {
	margin-top: 5px;
	margin-left: 10px;
}

.login {
	display: flex;
	align-self: center;
}

#main-motto {
	display: flex;
	align-self: center;
	flex-basis: 70%;
	font-size: 36pt;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.button {
	background: #a7bd43;
	background-image: -webkit-linear-gradient(top, #a7bd43, #707A2C);
	background-image: -moz-linear-gradient(top, #a7bd43, #707A2C);
	background-image: -ms-linear-gradient(top, #a7bd43, #707A2C);
	background-image: -o-linear-gradient(top, #a7bd43, #707A2C);
	background-image: linear-gradient(to bottom, #a7bd43, #707A2C);
	-webkit-border-radius: 1;
	-moz-border-radius: 1;
	border-radius: 1px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: -3px;
	text-decoration: none;
}

.button:hover{
	background: #ccd658;
	background-image: -webkit-linear-gradient(top, #ccd658, #a6ad47);
	background-image: -moz-linear-gradient(top, #ccd658, #a6ad47);
	background-image: -ms-linear-gradient(top, #ccd658, #a6ad47);
	background-image: -o-linear-gradient(top, #ccd658, #a6ad47);
	background-image: linear-gradient(to bottom, #ccd658, #a6ad47);
	text-decoration: none;
}