@font-face { 
	font-family: ClearSans; 
	src: url('fonts/ClearSans-Thin.ttf'); 
}

@font-face { 
	font-family: ClearSans-Regular; 
	src: url('fonts/ClearSans-Regular.ttf'); 
}

html {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: white;
	margin: 0;
	font-family: ClearSans;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
}

aside {
	position: fixed;
	left: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	background-color: #22240e;
	border-right: 5px solid #707A2C;
	overflow-y: hidden;
	z-index: 5;
}

h3 {
	font-family: ClearSans-Regular;
	font-size: 16pt;
	margin: 0;
	padding: 15px 0 15px 0;
}

h4 {
	font-family: ClearSans-Regular;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.logo {
	background-color: black;
	border-bottom: 2px solid #707A2C;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
}

#logo {
	padding: 15px;

}

#courses-list {
	display: flex;
	flex-direction: column;
}

#courses-list .single-course:hover{
	cursor: pointer;
}

.single-course {
	display: flex;
	align-items: center;
	padding: 10px 35px 10px 0;
	border-bottom: 1px solid #12130a;
}

.course-icon {
	margin-left: 20px;
	height: 38px;
}

.course-title {
	padding: 0px 15px 0px 20px;
}

.modules-list {
	display: none;
	flex-direction: column;
}

.single-module {
	padding: 4px 10px;
	margin-left: 25px;
	border-bottom: 1px solid #12130a;
	border-left: 1px solid #12130a;
}

.single-module:hover {
	cursor: pointer;
	background-color: #707A2C;
}

.module-selected {
	background-color:  #707A2C;
}

#menu-menuicon {
	display: none;
}

@media (max-width: 700px) {
	aside {
		display: none;
	}
}

@media (max-width: 355px) {
	#menu-menuicon {
		display: block;
		position: absolute;
		right: 5px;
		top: 5px;
		height: 25px;
	}

	#menu-menuicon:hover {
		cursor: pointer;
	}

	.course-icon {
		height: 30px;
	}

	.single-course {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#blank-space {
		width: 302px;
	}
}



@-ms-viewport{
  width: device-width;
}