{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
	{% trans "Checkout" %}
{% endblock %}

{% block style %}
	{{ block.super }}
	<link href="{% static 'orders/create.css' %}" rel="stylesheet">
{% endblock %}

{% block pixel_track %}
	<script>
		fbq('track', 'InitiateCheckout');
	</script>
{% endblock %}

{% block content %}
	<main>
		<div id="blank-space"></div>
	
		<h1>Step 1: Personal information.</h1>

		<form action="{% url 'orders:order_create' pk=product_id %}" method="post" class="order-form">
			{{ form.as_p }}
			<p><input type="submit" class="button" value="{% trans 'Next step' %}"></p>
			{% csrf_token %}
		</form>
	</main>
	
{% endblock %}
