{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
	{% trans "Checkout" %}
{% endblock %}

{% block style %}
	{{ block.super }}
	<link href="{% static 'orders/create.css' %}" rel="stylesheet">
{% endblock %}

{% block pixel_track %}
	<script>
		fbq('track', 'InitiateCheckout');
	</script>
{% endblock %}

{% block content %}
	<main>
		<div id="blank-space"></div>
	
		<h1>Step 1: Personal information.</h1>

		<form action="{% url 'orders:order_create' pk=product_id %}" method="post" class="order-form">
			{{ form.as_p }}
			<p><input type="submit" class="button" value="{% trans 'Next step' %}"></p>
			{% csrf_token %}
		</form>
	</main>
	
{% endblock %}

{% block js %}
	{{ block.super }}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-101208657-1', 'auto');
	  ga('send', 'pageview');

	</script>
{% endblock %}
