{% load staticfiles %}
{% load course_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% block style %}
		<link href="{% static 'courses/base.css' %}" rel="stylesheet">
	{% endblock %}
	<link rel="shortcut icon" type='image/png' href="{% static 'account/images/favicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<aside>
		<div class="logo">
			<img src="{% static 'account/images/logo.png' %}" alt="Logo" id="logo" height="80" />
			<img id="menu-menuicon" src="{% static 'courses/images/menu_icon.png' %}" >
		</div>

		</span>
		<div id="courses-list">
			{% for course in courses %}
				<a>
					<div class='single-course {% if course.id not in courses_joined %}promotion-link{% endif %}' data-course='{{ course.slug }}' data-count="{{ forloop.counter }}">
						<img class="course-icon" src=" {% static 'courses/images/favicon.png' %}">
						<span>
							<h3 class="course-title">
								{{ course.title }}
							</h3>
							
						</span>
					</div>
				</a>
				<div class="modules-list">
					{% if course.id in courses_joined %}
						{% for module in course.modules.all %}
							<a>
								<div class="single-module" data-course='{{ course.slug }}' data-module='{{ module.order }}' data-count="{{ forloop.counter }}">
									<h4 class="module-title">
										{{ module.title }}
									</h4>
								</div>
							</a>	
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="help-footer aside-help">
			<div class="help-background"></div>
			<div class="help-text make-popup">Any doubt? Ask us!</div>
			<div class="help-symbol make-popup">
				<div class="help-symbol-text">?</div>
			</div>			
		</div>
		
	</aside>

	{% block content %}
	{% endblock %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="{% static 'courses/js/base.js' %}"></script>
	<script src="{% static 'courses/js/jquery.sticky.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
	<script>
		var csrftoken = $.cookie('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		$(document).ready(function(){
			{% block domready %}
			{% endblock %}
		});
	</script>
</body>
</html>