{% load staticfiles %}
{% load course_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% block style %}
		<link href="{% static 'courses/base.css' %}" rel="stylesheet">
	{% endblock %}
	<link rel="shortcut icon" type='image/png' href="{% static 'account/images/favicon.png' %}">
</head>
<body>
	<aside>
		<div class="logo"><img src="{% static 'account/images/logo.png' %}" alt="Logo" id="logo" height="80" /></div>

		<span class="login">
<!-- 			{% if request.user.is_authenticated %}
				<a class='button'href="{% url 'account:logged_out' %}">Logout</a>
			{% endif %}  -->
		</span>
		<div id="courses-list">
			{% for course in courses %}
				<a>
					<div class='single-course {% if course.id not in courses_joined %}promotion-link{% endif %}' data-course='{{ course.slug }}' data-count="{{ forloop.counter }}">
						<img class="course-icon" src=" {% static 'courses/images/favicon.png' %}" height="40px">
						<span>
							<h3 class="course-title">
								{{ course.title }}
							</h3>
							
						</span>
					</div>
				</a>
				<div class="modules-list">
					{% if course.id in courses_joined %}
						{% for module in course.modules.all %}
							<a>
								<div class="single-module" data-course='{{ course.slug }}' data-module='{{ module.order }}' data-count="{{ forloop.counter }}">
									<h4 class="module-title">
										{{ module.title }}
									</h4>
								</div>
							</a>	
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
		
	</aside>

	{% block content %}
	{% endblock %}
	
	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li class="{{ message.tags }}">
				{{ message|safe }}
			<a href="#" class="close">✖</a>
			</li>
		{% endfor %}
		</ul>
	{% endif %}


	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
	<script src="{% static 'courses/js/base.js' %}"></script>
	<script src="{% static 'courses/js/jquery.sticky.js' %}"></script>
	<script>
		var csrftoken = $.cookie('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
		$(document).ready(function(){
			{% block domready %}
			{% endblock %}
		});
	</script>
</body>
</html>