{% extends "account/base.html" %}
{% load staticfiles %}

{% block title %}Plans{% endblock %}

{% block style %}
	{{ block.super }}
	<link href="{% static 'courses/plans.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
{% endblock %}

{% block content %}
	<main>
		<div id="blank-space"></div>
		<h2>
			Choose your plan
		</h2>
		<table>
			<thead>
				<tr>
					<th class="t-empty"></th>
					<th class="top-icon"><img class='plan-icon' src="{% static 'courses/images/portfolio-icon.png' %}" ></th>
					<th class="top-icon"><img class='plan-icon' src="{% static 'account/images/icon-ea.png' %}" ></th>
					<th class="top-icon"><img class='plan-icon' src="{% static 'courses/images/portfolio-icon.png' %}" ></th>
					<th class='fifth-column'></th>
				</tr>
				<tr>
					<th class="t-empty"></th>
					<th class="plan-head">Single strategy</th>
					<th class="plan-head">Automated strategy</th>
					<th class="plan-head">Full portfolio of strategies</th>
				</tr>
			<tbody>
				<tr>
					<th class="">Price</th>
					<td class="t-price">Free</td>
					<td class="t-price">35$</td>
					<td class="t-price">97$</td>
				</tr>
				<tr>
					<th class="t-empty"></th>
					<td class="t-empty"><a href="{% url 'courses:enroll' course_id=1 %}"><div class='button plan-button'>Choose</div></a></td>
					<td class="t-empty"><a href="{% url 'orders:order_create' pk=1 %}"><div class='button plan-button'>Choose</div></a></td>
					<td class="t-empty"><a href="{% url 'orders:order_create' pk=2 %}"><div class='button plan-button'>Choose</div></a></td>
				</tr>
				<tr>
					<th>Complete instructions</th>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
				</tr>
				<tr>
					<th>MT4 Expert Advisor</th>
					<td><img class='yes-no-icon' src="{% static 'courses/images/no-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
				</tr>
				<tr>
					<th>Personalized support</th>
					<td><img class='yes-no-icon' src="{% static 'courses/images/no-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
				</tr>
				<tr>
					<th>Number of pairs-timeframes</th>
					<td>2</td>
					<td>2</td>
					<td>16</td>
				</tr>
				<tr>
					<th>New optimizations in your e-mail</th>
					<td><img class='yes-no-icon' src="{% static 'courses/images/no-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/no-icon.png' %}" ></td>
					<td><img class='yes-no-icon' src="{% static 'courses/images/yes-icon.png' %}" ></td>
				</tr>
				<tr>
					<th class="t-empty"></th>
					<td class="t-empty"><a href="{% url 'courses:enroll' course_id=1 %}"><div class='button plan-button'>Choose</div></a></td>
					<td class="t-empty"><a href="{% url 'orders:order_create' pk=1 %}"><div class='button plan-button'>Choose</div></a></td>
					<td class="t-empty"><a href="{% url 'orders:order_create' pk=2 %}"><div class='button plan-button'>Choose</div></a></td>
				</tr>
			</tbody>
			</thead>
		</table>
	</main>



{% endblock %}