{% extends "account/main.html" %}
{% load staticfiles %}

{% block style %}
	{{ block.super }}
	<link href="{% static 'account/login.css' %}" rel="stylesheet">
{% endblock %}

{% block pop-up %}
	<div id="blur"></div>

	<div id="pop-login">
		
 		<div class="social">
 			<img id='favicon-login' src="{% static 'account/images/favicon.png' %}" height="100">
			<div class="google">
				<span>
					<img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-128.png" height="48" class="social-icon"/>
				</span>
				<a class='button google-button' href="{% url 'social:begin' 'google-oauth2' %}">
					<span class="fill-in01"></span>&nbsp;with Google
				</a>
			</div>
			<div class="facebook">
				<span>
					<img src="{% static 'account/images/social-facebook-icon.png' %}" height="52" class="social-icon" />
				</span>
				<a class='button facebook-button' href="{% url 'social:begin' 'facebook' %}">
					<span class="fill-in01"></span>&nbsp;with Facebook
				</a>
			</div>
			<div class="line"></div>
			<div id="terms">
				<p>
					<span class="fill-in02"></span>	
				</p>
			</div>
			<div class="close">X</div>
		</div>
	
	</div>

{% endblock %}

{% block js %}
	{{ block.super }}
	<script src="{% static '/account/js/pop-login.js' %}"></script>
{% endblock %}

