{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Pay using PayPal{% endblock %}

{% block style %}
	{{ block.super }}
	<link href="{% static 'payment/process.css' %}" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% endblock %}

{% block content %}
	<main>
		<div id="blank-space"></div>

		<h1>Step 2: Proceed to Paypal for secure payment.</h1>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="FTBLWZSLYBNC6">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</main>
{% endblock %}